.App {
  text-align: center;
  margin: 100px auto;
  position: relative;
}

.messages-buttons {

}
.messages-buttons button {
  border: 1px solid;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0 10px;
  padding: 0.75rem 1.25rem;
}
.messages-buttons button#success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.messages-buttons button#info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}
.messages-buttons button#warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}
.messages-buttons button#error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  top: 0;
}
.alert#success_message {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert#info_message {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
  top: 60px
}
.alert#warning_message {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  top: 120px;
}
.alert#error_message {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  top: 180px;
}
.alert .close {
  color: #000;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  opacity: .75;
  text-shadow: 0 1px 0 #fff;
}
.alert .close:hover {
  cursor: pointer;
  opacity: 1;
}